body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	-webkit-overflow-scrolling: none;
	height: 100%;
	width: 100%;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

br {
	display: block;
	margin: 3px 0;
	content: "";

}

#username-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.877);
}

#messages-container {
	width: 85%;
	height: 85%;
	overflow: auto;
}

#messages {
	list-style: none;
	padding: 0;
	margin: 0;
}

.message {
	font-size: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.message:nth-child(odd) {
	background: rgba(231, 231, 231, 0.431);
}

.date {
	font-size: 12.5px;
	float: right;
}

#typing {
	padding-left: 15px;
}

#chat {
	width: 85%;
	border-top: 2px solid black;
	padding-top: 15px;
	height: 15%;
}

input[type=text] {
	background-color: white;
	border-radius: 30px;
	border: 3px solid black;
	font-size: 3vh;
	width: 85%;
	padding-left: 15px;
	padding-right: 15px;
}

input[type=submit] {
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	border: 3px solid black;
	font-size: 3vh;
	-webkit-appearance: none;
	opacity: 1;
}

input[type=submit]:hover {
	cursor: pointer;
}

#online {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 85%;
	border: 2px solid black;
	height: 100%;
	width: 15%;
	overflow: auto;
	text-align: center;
}

#online > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 3vh;
	padding-top: 5px;
}

#header {
	font-size: 25px;
	font-weight: bold;
}

#header::after {
	content: "";
  	display: block;
  	width: 100%;
	height: 2px;
  	padding-top: 2px;
	background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
	background: linear-gradient(right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
	border: 2px solid black;
}

b {
	font-weight: 700
}

b::after {
	content: ":"
}